@mixin absolute {
    position: absolute;
    z-index: 99;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin white {
    color: white;
}

@mixin black {
    background: black;
}

@mixin color_black {
    color: black;
}

#header {
    @media(max-width: 320px) {
        overflow: hidden;
    }
    .header-top {
        display: flex;
        height: 30px;
        align-items: center;
        justify-content: space-between;
        @include black;
        @include white;
        padding: 0 80px;
        @media(max-width: 425px) {
            padding: 0 33px;
        }
        @media(min-width:768px) and(max-width:1023px) {
            justify-content: center;
            padding: 0;
        }
        .header-top_contactinformation {
            display: flex;
            .hotline {
                border-right: 1px solid rgb(160, 156, 156);
                padding-right: 20px;
            }
            .email {
                padding-left: 20px;
            }
        }
        .header-top_icon {
            @media(max-width: 768px) {
                display: none;
            }
            i {
                padding: 0 4px;
            }
            i:hover {
                color: rgb(119, 117, 117);
                cursor: pointer;
            }
        }
    }
    .header-bottom {
        z-index: 99999999999;
        @include center;
        @media(max-width: 1023px) {
            height: 75px;
        }
        @media(min-width:540px) and(max-width:720px) {
            height: 58px;
        }
        @media (max-width: 425px) {
            height: 60px;
        }
        img {
            width: 220px;
            object-fit: contain;
            @media(max-width: 1023px) {
                @include absolute;
                top: 32px;
            }
        }
        .nav-pc {
            display: none;
            @media(min-width: 1024px) {
                display: flex;
                margin-bottom: -17px;
            }
        }
        ul {
            .topnav {
                overflow: hidden;
                background-color: #333;
                .topnav.responsive a {
                    float: none;
                    display: block;
                    text-align: left;
                }
            }
            .bar {
                @media(min-width: 1024px) {
                    display: flex;
                    font-size: 17px;
                }
                display: none;
                &.active {
                    display: flex !important;
                    background: cadetblue;
                    @include color_black;
                }
                @media (max-width: 1023px) {
                    position: fixed;
                    top: 30px;
                    left: 0px;
                    @include black;
                    padding: 76px 41px;
                    @include white;
                    z-index: 111;
                    flex-direction: column;
                }
                @media(max-width: 425px) {
                    width: 183px;
                    padding: 42px 16px;
                }
            }
            li:hover {
                border-bottom: 2px solid #e4c307;
                cursor: pointer;
                color: #e4c307;
                height: 100%;
            }
            li {
                padding: 0 13px;
                list-style: none;
                text-transform: uppercase;
                font-weight: 700;
                height: 27px;
                font-size: 14px;
                @media(min-width: 740px) and (max-width: 1023px) {
                    width: 159px;
                    padding: 26px 10px;
                    font-size: 16px;
                }
                @media(min-width:540px) and(max-width:720px) {
                    width: 160px;
                    padding: 20px;
                }
                @media(max-width:425px) {
                    padding: 20px;
                }
                .table-of_content {
                    position: relative;
                }
                .introduce:hover .library {
                    display: flex;
                    position: absolute;
                }
                .job-story:hover .library {
                    display: flex;
                    position: absolute;
                }
                .library {
                    z-index: 999999;
                    border: 1px solid rgb(230, 227, 227);
                    display: none;
                    width: 200px;
                    height: 45px;
                    margin-top: 8px;
                    border-radius: 3px;
                    color: rgb(160, 156, 156);
                    font-weight: 100;
                    align-items: center;
                    padding-left: 10px;
                    @media(max-width: 1023px) {
                        @include color_black;
                        font-weight: 600;
                    }
                    .text-img:hover,
                    .text-youtube:hover {
                        background-color: red;
                        @include white;
                    }
                    .library-child {
                        display: none;
                        position: absolute;
                        margin-left: 187px;
                        margin-bottom: -28px;
                        width: 230px;
                        background: white;
                        @include color_black;
                        height: 70px;
                        div {
                            padding: 7px 12px;
                            font-size: 16px;
                        }
                    }
                }
                .library:hover {
                    background: rgb(219, 140, 66);
                    @include white;
                }
                .library:hover .library-child {
                    display: block;
                    border: 1px solid rgb(194, 190, 190);
                }
            }
        }
    }
    &.active {
        display: flex;
    }
    .nav-input:checked~.nav-overlay {
        display: block;
    }
    .nav-input:checked~.nav_mobile {
        transform: translateX(0%);
    }
    .nav-input:checked~.nav_mobile {
        transform: translateX(0%);
    }
    .nav-input:checked~.close {
        display: none;
    }
    .nav_mobile {
        padding: 43px 20px;
        .bar {
            padding: 13px 0;
            li {
                padding: 12px 0;
                list-style: none;
                text-transform: uppercase;
                font-weight: 600;
                color: dimgrey;
            }
        }
        #input-search {
            input::placeholder {
                font-size: 16px;
                padding-left: 7px;
            }
            position: relative;
            input {
                padding: 5px 6px;
                position: relative;
            }
            i {
                background: gold;
                width: 35px;
                height: 33px;
                position: absolute;
                top: 0px;
                right: 23px;
                @include center;
            }
        }
        position: fixed;
        top: 0;
        bottom: -10px;
        transform: translateX(-100%);
        transition: transform linear 0.3s;
        background-color: white;
        z-index: 999;
        width: 249px;
        max-width: 100%;
        li {
            list-style: none;
            i {
                padding-left: 109px;
                font-size: 20px;
                opacity: 0.5;
            }
        }
    }
    #mobile-menu {
        font-size: 20px;
        @include color_black;
        display: none;
        position: absolute;
        font-size: 23px;
        top: 58px;
        left: 25px;
        @media (max-width: 1023px) {
            display: block;
        }
    }
    .close {
        @include absolute;
        top: 0;
        right: 20px;
        font-size: 30px;
        @include white;
        opacity: 1;
    }
    .nav-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.3);
        animation: fadeIn linear 0.1s;
        @media (min-width: 1024px) {
            display: none;
        }
        &.active {
            display: flex;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.body {
    @media(max-width: 320px) {
        overflow: hidden;
    }
    .img:hover .slick-next {
        display: block !important;
        @media(max-width: 768px) {
            display: none;
        }
    }
    .img:hover .slick-prev {
        display: block !important;
        @media(max-width: 768px) {
            display: none;
        }
    }
    .img {
        .slick-prev {
            @include absolute;
            top: 50%;
            font-size: 30px;
            left: 20px;
            display: none !important;
        }
        .slick-next {
            @include absolute;
            top: 50%;
            font-size: 30px;
            right: 20px;
            display: none !important;
        }
        .slick-next:hover {
            background-color: rgb(204, 173, 70);
            @include white;
            i {
                background-color: rgb(204, 173, 70);
            }
        }
        .slick-prev:hover {
            background-color: rgb(204, 173, 70);
            @include white;
            i {
                background-color: rgb(204, 173, 70);
            }
        }
        .hover-img {
            height: 540px;
            position: relative;
            .text-hover_img:hover {
                cursor: pointer;
            }
            .text-hover_img {
                top: 170px;
                left: 203px;
                position: absolute;
                text-align: center;
                @include white;
                @media(max-width: 768px) {
                    top: 101px;
                    left: 0;
                }
                .text-hover_imgchild {
                    width: 40%;
                    @media(max-width: 768px) {
                        width: 80%;
                    }
                    h3 {
                        font-size: 28px;
                    }
                    p {
                        font-size: 17px;
                        text-align: center;
                    }
                    .btn-seemore {
                        @include white;
                        background: none !important;
                        border: 1px solid white;
                        font-size: 20px;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                    .btn-seemore:hover {
                        background: #fff !important;
                        color: #b8b7b6;
                    }
                }
            }
            img {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
            .text-hover_imgsecond {
                position: absolute;
                width: 100%;
                bottom: 130px;
                text-align: center;
                @media(max-width: 768px) {
                    width: 100%;
                    top: 107px;
                }
                .customer-benefits {
                    display: flex;
                    margin: 10px 0 15px 0;
                    justify-content: center;
                    div {
                        width: 1009px;
                        strong {
                            font-size: 18px;
                            @include color_black;
                        }
                    }
                }
                h3 {
                    font-size: 32px;
                    @media (max-width: 768px) {
                        font-size: 35px;
                        font-family: ui-sans-serif;
                    }
                    text-transform: uppercase;
                    font-weight: 700;
                    color: green;
                }
                strong {
                    font-weight: 700;
                    font-size: 21px;
                    @include color_black;
                }
            }
        }
    }
    .slick-dots {
        display: flex;
        position: absolute;
        bottom: 10px;
        left: 50%;
        @media(max-width: 768px) {
            left: 37%;
        }
        padding: 0;
        margin: 0;
        li {
            margin: 20px;
            position: relative;
            button {
                border: 3px solid rgba(255, 255, 255, 0.4);
                position: absolute;
                top: 12px;
                left: -24px;
                background: inherit;
                display: block;
                height: 10px;
                width: 10px;
                font-size: 0px;
                padding: 3px;
                cursor: pointer;
                border-radius: 50%;
            }
        }
        li::marker {
            font-size: 24px;
            color: rgba(255, 255, 255, 0);
        }
        .slick-active:hover {
            background: white !important;
        }
        .slick-active {
            background: white !important;
        }
        .slick-active button:before {
            @include color_black;
            opacity: 0.75;
        }
    }
    .becausethecoffeevn {
        .title-becausethecoffeevn {
            text-align: center;
            margin: 30px 0;
            @include center;
            .title {
                @media(max-width: 768px) {
                    font-size: 15px;
                    flex: 7;
                }
                font-size: 19px;
                text-transform: uppercase;
                font-weight: 600;
                flex: 1;
                @media(min-width: 740px) and(max-width: 1023px) {
                    flex: 3;
                }
            }
            .hollow {
                border-top: 1px solid;
                flex: 1;
            }
        }
        .introduce-coffee {
            .col-sm-4 {
                @media(max-width: 768px) {
                    margin-bottom: 41px;
                }
                a {
                    @include color_black;
                    font-size: 18px;
                    opacity: 0.7;
                }
                img {
                    width: 100%;
                }
                h3 {
                    font-weight: 600;
                    margin: 15px 0 10px 0;
                    text-align: center;
                    @media(max-width: 768px) {
                        font-size: 16px;
                    }
                }
                p {
                    text-align: justify;
                    font-size: 16px;
                    @media(max-width: 768px) {
                        opacity: 0.7;
                        font-size: 14px;
                    }
                }
                a:hover {
                    text-decoration: none;
                    cursor: pointer;
                }
                h4 {
                    font-weight: 700;
                    text-align: center;
                    margin: 15px 0 10px 0;
                    font-size: 19px;
                }
            }
        }
        .row {
            @media(max-width: 768px) {
                padding: 0;
            }
            padding: 0 80px;
            margin: 0;
            @media (min-width: 740px) and (max-width: 1023px) {
                padding: 0;
            }
        }
    }
    .product-hot {
        .slick-next,
        .slick-prev {
            display: none !important;
        }
        .hollow {
            flex: 2;
            border-top: 1px solid rgb(211, 209, 209);
            @media(min-width: 740px) and (max-width: 1023px) {
                flex: 1;
            }
        }
        .title-product_hot {
            text-transform: uppercase;
            flex: 1;
            font-size: 23px;
            text-align: center;
            font-weight: 600;
            @media(max-width: 768px) {
                flex: 3;
                font-size: 19px;
                @include color_black;
                opacity: 0.77;
            }
        }
        #slick-slide-control10 {
            display: none;
        }
        .slick-active {
            display: none;
        }
        .slick-img_product {
            img {
                width: 83% !important;
                object-fit: cover;
                @media (min-width: 740px) and (max-width: 1023px) {
                    width: 97% !important;
                }
                @media(max-width:768px) {
                    width: 100% !important;
                    padding: 50px 20px;
                }
                height: 550px;
                padding: 50px 0;
            }
            .slick-slide {
                justify-content: center;
                display: flex;
            }
            .img-food {
                justify-content: center;
                .text-food {
                    @media(max-width: 425px) {
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                    }
                    h3 {
                        text-transform: uppercase;
                        font-size: 2em;
                        @include white;
                        @media(max-width: 425px) {
                            font-size: 22px;
                        }
                    }
                    p {
                        width: 620px;
                        color: #f1f1f1;
                        font-size: 18px;
                        @media(max-width: 425px) {
                            width: 350px;
                        }
                    }
                    a {
                        text-transform: uppercase;
                        font-size: 18px;
                    }
                }
            }
            .slick-track {
                justify-content: center;
                display: flex;
            }
        }
        .row {
            margin: 0;
        }
        .coffeeandbread {
            padding: 0 105px 50px 105px;
            @media(min-width: 740px) and(max-width: 1023px) {
                padding: 12px;
            }
            @media(max-width:768px) {
                padding: 15px;
            }
            img {
                width: 100%;
                height: 320px;
                padding: 10px 0;
                object-fit: cover;
            }
            .col-md-3 {
                @media(min-width: 740px) and (max-width: 1023px) {
                    padding: 0;
                }
                .text-bread {
                    @include center;
                    div {
                        @media(max-width: 768px) {
                            width: 222px;
                        }
                        position: absolute;
                        top: 20px;
                        width: 150px;
                        @include white;
                        a {
                            border: 1px solid white;
                            @include white;
                            text-transform: uppercase;
                            font-weight: 700;
                        }
                        h2 {
                            margin-top: 7px;
                            @media(max-width: 768px) {
                                font-size: 34px;
                                font-weight: 700;
                            }
                        }
                        p {
                            font-weight: 700;
                        }
                    }
                }
                .text-korean_peachtea {
                    position: absolute;
                    bottom: 110px;
                    width: 100%;
                    text-align: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    h3 {
                        text-transform: uppercase;
                        width: 150px;
                        @include white;
                        font-size: 27px;
                        font-weight: 600;
                    }
                    .btn {
                        border: 1px solid white;
                        text-transform: uppercase;
                        @include white;
                        font-weight: 800;
                    }
                }
                .beef-soupbreak {
                    position: absolute;
                    top: 110px;
                    width: 100%;
                    text-align: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    h3 {
                        text-transform: uppercase;
                        width: 150px;
                        @include white;
                        font-size: 27px;
                        font-weight: 600;
                    }
                    .btn {
                        border: 1px solid white;
                        text-transform: uppercase;
                        @include white;
                        font-weight: 800;
                    }
                }
            }
            .col-md-6 {
                @media(min-width: 768px) and(max-width: 1023px) {
                    padding: 0;
                }
                img {
                    height: 640px;
                    @media(max-width: 425px) {
                        height: 100%;
                    }
                }
                .text-korean_peachtea {
                    position: absolute;
                    bottom: 50%;
                    width: 100%;
                    text-align: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    h3 {
                        text-transform: uppercase;
                        @include white;
                        font-size: 27px;
                        font-weight: 600;
                    }
                    .btn {
                        border: 1px solid white;
                        text-transform: uppercase;
                        @include white;
                        font-weight: 800;
                    }
                }
            }
        }
    }
    .customer-review {
        .slick-next,
        .slick-prev {
            display: none !important;
        }
        .slick-dots {
            position: absolute;
            bottom: -2px;
            left: 45%;
            padding: 0;
            margin: 0;
            @media(max-width: 768px) {
                left: 30%;
            }
        }
        .customer-review_child {
            @include black;
            height: 270px;
            text-align: center;
            flex-direction: column;
            @include center;
            p {
                width: 80%;
            }
            .star-customer {
                color: #e4c307;
                margin: 15px;
            }
            img {
                border-radius: 60px;
                width: 60px;
                height: 60px;
            }
        }
    }
    .somethingabout-coffee {
        padding: 30px 105px;
        margin: 0;
        @media(min-width: 740px) and(max-width: 1023px) {
            padding: 30px 34px;
        }
        @media(max-width:767px) {
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
        .col-xs-6 {
            padding: 8px !important;
            @media(min-width: 740px) and(max-width: 1023px) {
                padding: 11px !important;
            }
            @media(max-width:767px) {
                width: 100%;
                padding: 16px !important;
            }
            @media(max-width: 425px) {
                width: 100%;
                padding: 0 20px!important;
            }
        }
        img:hover .slick-next {
            display: block !important;
        }
        img:hover .slick-prev {
            display: block !important;
        }
        .slick-prev {
            @include absolute;
            top: 50%;
            font-size: 30px;
            left: 20px;
            display: none !important;
        }
        .slick-next {
            @include absolute;
            top: 50%;
            font-size: 30px;
            right: 20px;
            display: none !important;
        }
        .slick-next:hover {
            background-color: rgb(204, 173, 70);
            @include white;
            i {
                background-color: rgb(204, 173, 70);
            }
        }
        .slick-prev:hover {
            background-color: rgb(204, 173, 70);
            @include white;
            i {
                background-color: rgb(204, 173, 70);
            }
        }
        img {
            padding: 20px 0;
            width: 100%;
            height: 450px;
        }
        .title-img_somethingcoffee {
            display: flex;
            align-items: center;
            .hollow {
                border-top: 1px solid;
                flex: 1;
            }
            span {
                flex: 3;
                font-size: 23px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
            }
        }
        p {
            font-size: 18px;
            color: #b8b7b6;
        }
        a {
            border: 1px solid red;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 18px;
        }
        a:hover {
            cursor: pointer;
            border: 1px solid rgba(139, 30, 30, 0.651);
            @include white;
            background-color: rgba(139, 30, 30, 0.651);
        }
    }
    .position-coffee {
        padding: 30px 105px;
        margin: 0;
        @media(min-width: 740px) and(max-width: 1023px) {
            padding: 30px 30px;
        }
        @media(max-width:767px) {
            display: flex;
            padding: 0;
            text-align: center;
            align-items: center;
            flex-direction: column;
        }
        @media(min-width:540px) and(max-width:720px) {
            align-items: center;
        }
        .col-xs-6 {
            @media(max-width: 767px) {
                width: 100%;
            }
        }
        img:hover .slick-next {
            display: block !important;
        }
        img:hover .slick-prev {
            display: block !important;
        }
        .slick-dots {
            left: 30%;
            @media(min-width: 740px) and (max-width: 1023px) {
                left: 15%;
            }
            @media(min-width: 400px) and (max-width: 768px) {
                right: 15%;
            }
        }
        .slick-prev {
            @include absolute;
            top: 50%;
            font-size: 30px;
            left: 20px;
            display: none !important;
        }
        .slick-next {
            @include absolute;
            top: 50%;
            font-size: 30px;
            right: 20px;
            display: none !important;
        }
        .slick-next:hover {
            background-color: rgb(204, 173, 70);
            @include white;
            i {
                background-color: rgb(204, 173, 70);
            }
        }
        .slick-prev:hover {
            background-color: rgb(204, 173, 70);
            @include white;
            i {
                background-color: rgb(204, 173, 70);
            }
        }
        img {
            padding: 20px 0;
            width: 100%;
            height: 450px;
            object-fit: cover;
        }
        .title-img_somethingcoffee {
            display: flex;
            align-items: center;
            .hollow {
                border-top: 1px solid;
                flex: 1;
            }
            span {
                flex: 3;
                font-size: 23px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
            }
        }
        p {
            font-size: 18px;
            color: #b8b7b6;
        }
        a {
            border: 1px solid red;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 18px;
            i {
                color: red;
                padding: 0 5px;
            }
        }
        a:hover {
            cursor: pointer;
            border: 1px solid rgba(139, 30, 30, 0.651);
            color: white;
            background-color: rgba(139, 30, 30, 0.651);
        }
    }
    .container {
        width: 100%;
        padding: 0;
        position: relative;
        img {
            width: 100%;
            height: 400px;
            object-fit: fill;
        }
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 41px;
            @include white;
        }
        i:hover {
            color: #e4c307;
            cursor: pointer;
        }
        .modal {
            padding: 0 20px !important;
            .modal-dialog {
                width: 100%;
                iframe {
                    height: 350px;
                    width: 100%;
                }
            }
        }
    }
    .promotional-news {
        .title-promotional_news {
            @include center;
            text-align: center;
            margin: 30px 0;
            padding: 0 12px;
            .hollow {
                border-top: 1px solid;
                flex: 1;
            }
            .title {
                flex: 1;
                padding: 0 10px;
                font-size: 27px;
                font-weight: 700;
                text-transform: uppercase;
                @media(min-width: 420px) and(max-width: 720px) {
                    flex: 3;
                }
                @media(max-width: 425px) {
                    flex: 4;
                    font-size: 23px;
                }
            }
        }
        .slick-img_news {
            @media(min-width: 740px) and(max-width: 1023px) {
                padding: 0 10px;
            }
            @media(max-width:849px) {
                display: none !important;
            }
            img {
                width: 100%;
                height: 240px;
            }
            .slick-prev {
                display: block;
                @include absolute;
                top: 10px;
                @include color_black;
                display: none !important;
                top: 110px;
                width: 44px;
                height: 42px;
                left: 15px;
                border-radius: 50%;
            }
            .slick-next {
                display: block;
                top: 10px;
                @include color_black;
                right: 15px;
                @include absolute;
                display: none !important;
                display: block;
                top: 110px;
                width: 44px;
                height: 42px;
                border-radius: 50%;
                display: none;
            }
            h5 {
                font-size: 20px;
                font-weight: 700;
            }
            .hollow {
                border-top: 2px solid;
                width: 51px;
                margin: 10px 0;
            }
            .slick-slide {
                display: block;
                padding: 0 10px;
            }
            button:hover {
                background-color: #e4c307;
            }
        }
        .slick-img_newsmobile {
            padding: 0 20px;
            @media(max-width: 849px) {
                display: block !important;
            }
            @media(min-width: 849px) {
                display: none !important;
            }
            .slick-prev {
                display: block;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                @include absolute;
                top: 175px;
                left: 20px;
            }
            .slick-next {
                display: block;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                @include absolute;
                top: 176px;
                right: 20px;
            }
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        .slick-img_news:hover button {
            display: inline-block !important;
            cursor: pointer;
        }
    }
}

.footer {
    .child-footer {
        padding: 20px 150px;
        display: flex;
        background-color: #241414;
        @media(min-width: 740px) and (max-width: 1023px) {
            padding: 20px 30px;
        }
        @media (min-width:400px) and (max-width:768px) {
            padding: 0;
        }
        @media(min-width: 426px)and (max-width:768px) {
            flex-direction: column;
        }
        @media(max-width:425px) {
            flex-direction: column;
            padding: 0 20px;
        }
    }
    .address {
        padding-left: 10px;
    }
    .connect-fanpage,
    .address,
    .map {
        flex: 1;
        @media(min-width: 426px)and (max-width: 768px) {
            width: 300px;
            padding-left: 20px;
        }
        display: flex;
        flex-direction: column;
        h5 {
            text-transform: uppercase;
            @include white;
            font-weight: 700;
            font-size: 17px;
        }
        .hollow {
            border-top: 2px solid white;
            width: 38px;
            margin: 15px 0;
        }
        iframe {
            width: 100%;
            @media(max-width: 425px) {
                width: 276px;
            }
        }
    }
    .connect-fanpage {
        .img-footer {
            width: 100%;
            height: 150px;
            @media(max-width: 425px) {
                width: 276px;
                padding: 20px;
            }
        }
        button {
            position: absolute;
            top: 66px;
            left: 12px;
            font-size: 15px;
            font-weight: 600;
        }
        .text-connect_fanpage {
            display: flex;
            position: absolute;
            top: 7px;
            left: 13px;
            @include white;
            display: flex;
        }
    }
}

.modal {
    position: fixed;
    width: 390px;
    height: 400px;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}